{% extends 'base.html' %}

{% block body %}
    <h1>{% if user.is_authenticated %}Welcome, {{ user.username }}{% else %}Login{% endif %}</h1>






    {% if user.is_authenticated %}
        <form action="{% url 'logout_user' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">
                Logout
            </button>
        </form>



    {% else %}
        <form action="{% url 'login_user' %}" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    {% endif %}


{% endblock %}